@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.banner {
    display: flex;
    height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    color: aliceblue;
}

.container {
    max-width: 1200px;
}

.banner-left {
    flex: 1;
    margin-right: 100px;
}

.banner-right {
    flex: 1;
}

.banner-right img {
    animation: zoom 2s linear infinite;
    border-radius: 50%;
}

.love-btn {
    font-size: 19px;
    background-color: #22bedd;
    outline: none;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    border: 4px dashed #22bedd;
    border-radius: 20px;
    transition: 1s;
    animation: lvBtn 4s ease infinite;
}

@keyframes lvBtn {
    0% {
        transform-origin: left right;
        transform: scale(0.3);
    }

    25% {
        transform-origin: left right;
        transform: scale(0.4 20px);
    }

    50% {
        transform-origin: left right;
        transform: scale(0.4 20px);
    }

    75% {
        transform-origin: left right;
        transform: scale(0.4 20px);
    }

    0% {
        transform-origin: left right;
        transform: scale(0.3);
    }
}

.love-btn:hover {
    background-color: transparent;
    border: 4px dashed #22bedd;
}

@keyframes zoom {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(0.9);
    }
}

.title {
    font-size: 60px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}

.title::before {
    content: 'Programming Hero';
    position: absolute;
    color: #22bedd;
    animation: typing 3s linear infinite;
}

.banner-text {
    line-height: 2;
}

@keyframes typing {
    0% {
        content: 'P|';
    }

    4% {
        content: 'Pr|';
    }

    8% {
        content: 'Pro|';
    }

    12% {
        content: 'Prog|';
    }

    16% {
        content: 'Progr|';
    }

    20% {
        content: 'Progra|';
    }

    24% {
        content: 'Program|';
    }

    28% {
        content: 'Programm|';
    }

    32% {
        content: 'Programmi|';
    }

    36% {
        content: 'Programming|';
    }

    40% {
        content: 'Programming |';
    }

    44% {
        content: 'Programming H|';
    }

    48% {
        content: 'Programming He|';
    }

    52% {
        content: 'Programming Her|';
    }

    56% {
        content: 'Programming Hero|';
    }

    57%,

    83% {
        content: 'Programming Hero|';
    }

    84% {
        content: 'Programming He|';
    }

    85% {
        content: 'Programming H|';
    }

    86% {
        content: 'Programming |';
    }

    87% {
        content: 'Programmin|';
    }

    88% {
        content: 'Programmi|';
    }

    89% {
        content: 'Programm|';
    }

    90% {
        content: 'Program|';
    }

    91% {
        content: 'Progra|';
    }

    92% {
        content: 'Progr|';
    }

    93% {
        content: 'Prog|';
    }

    94% {
        content: 'Pro|';
    }

    95% {
        content: 'Pr|';
    }

    96% {
        content: 'P|';
    }

    97% {
        content: '|';
    }

    100% {
        content: '|';
    }
}

.photo {
    width: 280px;
    height: 280px;
    margin-left: 100px;
    position: relative;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border {
    background-color: white;
    position: absolute;
    transition: .7s linear;
}

.border.top,
.border.bottom {
    width: 270px;
    height: 4px;
}

.border.left,
.border.right {
    width: 4px;
    height: 270px;
}

.border.top {
    top: 5px;
    right: 100%;
}

.border.bottom {
    bottom: 5px;
    left: 100%;
}

.border.left {
    left: 5px;
    top: 100%;
}

.border.right {
    right: 5px;
    bottom: 100%;
}

.photo:hover .border.top {
    right: 5px;
}

.photo:hover .border.bottom {
    left: 5px;
}

.photo:hover .border.left {
    top: 5px;
}

.photo:hover .border.right {
    bottom: 5px;
}